{% extends "layouts/_base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="register-form">
        <form method="post" novalidate>
            {{ form.hidden_tag() }}

            <!----------- First Name ---------->
            <p>
                {{ form.first_name.label }}<br>
                {{ form.first_name(size=32) }}
                {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <!----------- Last Name ---------->
            <p>
                {{ form.last_name.label }}<br>
                {{ form.last_name(size=32) }}
                {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <!----------- Username ---------->
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <!----------- Email ---------->
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <!----------- Password ---------->
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <!----------- confirm Password ---------->
            <p>
                {{ form.conf_password.label }}<br>
                {{ form.conf_password(size=32) }}
                {% for error in form.conf_password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <!----------- Submit ---------->
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}